from mpi4py import MPI
size = MPI.COMM_WORLD.size
rank = MPI.COMM_WORLD.rank
barrier = MPI.COMM_WORLD.barrier

if rank == 0:
    print(f"Running the LBS adjoint glovebox example problem with {size} MPI processors.")

import os
import math
import numpy as np


from pyopensn.mesh import FromFileMeshGenerator, PETScGraphPartitioner
from pyopensn.xs import MultiGroupXS
from pyopensn.source import VolumetricSource
from pyopensn.aquad import GLCProductQuadrature2DXY
from pyopensn.solver import DiscreteOrdinatesProblem, SteadyStateSourceSolver
from pyopensn.response import ResponseEvaluator
from pyopensn.fieldfunc import FieldFunctionInterpolationVolume, \
                               FieldFunctionInterpolationLine, \
                               FieldFunctionGridBased
from pyopensn.logvol import RCCLogicalVolume
from pyopensn.context import UseColor, Finalize

meshgen = FromFileMeshGenerator(
    filename={{ from_file_mesh_generator_filename | lit("dq") }},
    partitioner=PETScGraphPartitioner(type={{ petsc_graph_partitioner_type | lit("sq") }}),
)
grid = meshgen.Execute()
grid.SetOrthogonalBoundaries()

xs_dir = {{ xs_dir | lit("dq") }}
xs_air = MultiGroupXS()
xs_air.LoadFromOpenSn(xs_dir+"/Air.cxs")

xs_steel = MultiGroupXS()
xs_steel.LoadFromOpenSn(xs_dir+"/SS_316.cxs")

xs_hdpe = MultiGroupXS()
xs_hdpe.LoadFromOpenSn(xs_dir+"/HDPE.cxs")

xs_he3 = MultiGroupXS()
xs_he3.LoadFromOpenSn(xs_dir+"/He3.cxs")

xs_cf = MultiGroupXS()
xs_cf.LoadFromOpenSn(xs_dir+"/Cf252.cxs")

xsecs = [{"block_ids": {{ xs_map_block_ids | lit("list:int") }}, "xs": xs_air},
         {"block_ids": {{ xs_map_block_ids_2 | lit("list:int") }}, "xs": xs_steel},
         {"block_ids": {{ xs_map_block_ids_3 | lit("list:int") }}, "xs": xs_hdpe},
         {"block_ids": {{ xs_map_block_ids_4 | lit("list:int") }}, "xs": xs_he3},
         {"block_ids": {{ xs_map_block_ids_5 | lit("list:int") }}, "xs": xs_cf}]

pquad = GLCProductQuadrature2DXY(n_polar={{ n_polar | lit("int") }}, 
                                 n_azimuthal={{ n_azimuthal | lit("int") }},
                                 scattering_order={{ scattering_order | lit("int") }})

num_groups = {{ num_groups | lit("int") }}
grpsets = [
    {
        "groups_from_to": (0, num_groups-1),
        "angular_quadrature": pquad,
        "inner_linear_method": {{ inner_linear_method | lit("dq") }},
        "l_abs_tol": {{ l_abs_tol | lit("sci") }},
        "l_max_its": {{ l_max_its | lit("int") }},
        "gmres_restart_interval": {{ gmres_restart_interval | lit("int") }},
    },
]

det1 = {{ det1 | lit("list:plain") }}
det2 = {{ det2 | lit("list:plain") }}
dets = [det1, det2]
det_logvols = []
for det in dets:
    r_he3 = {{ r_he3 | lit("plain") }}
    he3 = RCCLogicalVolume(
                r=r_he3, 
                x0=det[0], y0=det[1], 
                z0={{ z0 | lit("plain") }}, vz= {{ vz | lit("plain") }}
    )
    det_logvols.append(he3)

Q_adj = xs_he3.sigma_a.tolist()
adj_src = VolumetricSource(logical_volume=det_logvols[0], group_strength=Q_adj)

phys = DiscreteOrdinatesProblem(
    mesh=grid,
    num_groups=num_groups,
    groupsets=grpsets,
    xs_map=xsecs,
    volumetric_sources = [adj_src],
    boundary_conditions = [
        {"name": {{ xmin_name | lit("dq") }}, "type": {{ xmin_type | lit("dq") }}},
        {"name": {{ xmax_name | lit("dq") }}, "type": {{ xmax_type | lit("dq") }}},
        {"name": {{ ymin_name | lit("dq") }}, "type": {{ ymin_type | lit("dq") }}},
        {"name": {{ ymax_name | lit("dq") }}, "type": {{ ymax_type | lit("dq") }}},
    ],
    options = {"save_angular_flux": {{ save_angular_flux | lit("bool") }},
               "adjoint": {{ adjoint | lit("bool") }}},
)

ss_solver = SteadyStateSourceSolver(problem=phys)
ss_solver.Initialize()
ss_solver.Execute()

data_dir = {{ data_dir | lit("dq") }}
os.makedirs(data_dir, exist_ok={{ exist_ok | lit("bool") }})

phys.WriteFluxMoments(data_dir+"/adjphi_det1_p")

groups = np.flip([1.00000E-11, 5.00000E-09, 1.00000E-08, 1.50000E-08, 2.00000E-08, 
                  2.50000E-08, 3.00000E-08, 3.50000E-08, 4.20000E-08, 5.00000E-08, 
                  5.80000E-08, 6.70000E-08, 8.00000E-08, 1.00000E-07, 1.40000E-07, 
                  1.80000E-07, 2.20000E-07, 2.50000E-07, 2.80000E-07, 3.00000E-07, 
                  3.20000E-07, 3.50000E-07, 4.00000E-07, 5.00000E-07, 6.25000E-07, 
                  7.80000E-07, 8.50000E-07, 9.10000E-07, 9.50000E-07, 9.72000E-07, 
                  9.96000E-07, 1.02000E-06, 1.04500E-06, 1.07100E-06, 1.09700E-06, 
                  1.12300E-06, 1.15000E-06, 1.30000E-06, 1.50000E-06, 2.10000E-06, 
                  2.60000E-06, 3.30000E-06, 4.00000E-06, 9.87700E-06, 1.59680E-05, 
                  2.77000E-05, 4.80520E-05, 7.55014E-05, 1.48729E-04, 3.67263E-04, 
                  9.06899E-04, 1.42510E-03, 2.23945E-03, 3.51910E-03, 5.53000E-03, 
                  9.11800E-03, 1.50300E-02, 2.47800E-02, 4.08500E-02, 6.73400E-02, 
                  1.11000E-01, 1.83000E-01, 3.02500E-01, 5.00000E-01, 8.21000E-01, 
                  1.35300E+00, 2.23100E+00, 3.67900E+00, 6.06550E+00, 1.00000E+01])
group_width = -np.diff(groups)
dE = groups[0] - groups[-1]
dA = np.pi*0.2*0.2
Q = (group_width / dE / dA).tolist()

fwd_src = {'material': [{'block_id': {{ block_id | lit("int") }}, 'strength': Q}]}

evaluator = ResponseEvaluator(problem = phys)
evaluator.SetOptions(
    buffers = [{
        'name': {{ detector1_name | lit("sq") }}, 
        'file_prefixes': {'flux_moments': data_dir+'/adjphi_det1_p'}
    }],
    sources = fwd_src
)

adj_resp = evaluator.EvaluateResponse("detector1")

if rank == 0:
    print(f"Total Response Detector 1: {adj_resp:.6e}")

fflist = phys.GetScalarFluxFieldFunction(only_scalar_flux={{ only_scalar_flux | lit("bool") }})
fields = []
for g in range(num_groups):
    fields.append(fflist[g][0])

FFGrid = FieldFunctionGridBased
FFGrid.ExportMultipleToPVTU(fields, "AdjFlux/detector1_p")

from IPython import get_ipython

def finalize_env():
    Finalize()
    MPI.Finalize()

ipython_instance = get_ipython()
if ipython_instance is not None:
    ipython_instance.events.register("post_execute", finalize_env)

os.system("rm -rf Data AdjFlux Results")
