import os
from mpi4py import MPI
rank = MPI.COMM_WORLD.rank


from pyopensn.mesh import FromFileMeshGenerator, PETScGraphPartitioner
from pyopensn.context import UseColor, Finalize

UseColor(False)

filepath = {{ filepath | lit("dq") }}
meshgen = FromFileMeshGenerator(
    filename=filepath,
    partitioner=PETScGraphPartitioner(type={{ petsc_graph_partitioner_type | lit("sq") }}),
)
grid = meshgen.Execute()

# Export
grid.ExportToPVTU("c5g7_mesh_only")

n_glob_cells = grid.GetGlobalNumberOfCells()
if rank == 0:
    print(f"Number of cells = {n_glob_cells}")

from IPython import get_ipython

def finalize_env():
    Finalize()
    MPI.Finalize()

ipython_instance = get_ipython()
if ipython_instance is not None:
    ipython_instance.events.register("post_execute", finalize_env)
